---
import Sonner from "@/components/core/molecules/Sonner.astro";
import "@styles";

const title = "Redirect - Incognity";
const description = "Manage and view your redirection rules";
---

<html lang="en" class="bg-zinc-950 text-white font-sans">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://incognity.com/redirect" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="min-h-screen flex flex-col items-center pt-[10%] px-4 py-12">
        <Sonner />

        <main class="w-full max-w-[90%] md:max-w-[80%] text-center">
            <slot />
        </main>
    </body>
</html>
